﻿@using SocialNetwork.Web.Models
@model IEnumerable<CommentViewModel>

@{
    Layout = null;
}
<div class="container p-0">
    <div class="row d-flex">
        @foreach (var item in Model)
        {
            <partial name="_SingleCommentPartial" model="item" />
        }
    </div>
</div>