﻿@using Microsoft.AspNetCore.Identity

@{
    var user = await UserManager.GetUserAsync(this.User);
    string name = "Hello";
    if (user == null)
    {
        name = $"{name} Guest!";
    }
    else
    {
        name = $"{name} {user.FirstName} {user.LastName}!";
    }
}

<ul class="navbar-nav d-inline-block">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-inline-block">
            <a class="nav-link btn text-dark" asp-controller="Users" asp-action="Index" asp-route-id="" title="Manage">@name</a>
        </li>
        <li class="nav-item d-inline-block">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item d-inline-block">
            <a class="nav-link btn text-dark" asp-controller="Guests" asp-action="Index">@name</a>
        </li>
        <li class="nav-item d-inline-block">
            <a class="nav-link btn text-dark" asp-action="Register" asp-controller="Accounts">Register</a>
        </li>
        <li class="nav-item d-inline-block">
            <a class="nav-link btn text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
