﻿@model SocialNetwork.Web.Models.Users.FriendsViewModel

@foreach (var friend in Model.Friends)
{
    <div class="col-md-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    @if (friend.IsPrivate)
                    {
                        var result = Guid.TryParse(this.UserManager.GetUserId(this.User), out Guid userId);

                        if (!result)
                        {
                            <span style="background-image: url(@Url.Content($"~/images/profilePicture.png"))" class="avatar avatar-xl mr-3"></span>
                        }
                        else
                        {
                            if (friend.AreFriends || friend.Id == userId)
                            {
                                <span style="background-image: url(@Url.Content($"~/images/{friend.Id}/{friend.PhotoName}"))" class="avatar avatar-xl mr-3"></span>
                            }
                            else
                            {
                                <span style="background-image: url(@Url.Content($"~/images/profilePicture.png"))" class="avatar avatar-xl mr-3"></span>
                            }
                        }
                    }
                    else
                    {
                        <span style="background-image: url(@Url.Content($"~/images/{friend.Id}/{friend.PhotoName}"))" class="avatar avatar-xl mr-3"></span>
                    }
                    <div class="media-body overflow-hidden">
                        <h5 class="card-text mb-0">@friend.FullName</h5>
                    </div>
                </div><a asp-controller="Users" asp-action="Index" asp-route-id="@friend.Id" class="tile-link"></a>
            </div>
        </div>
    </div>

}

<nav>
    <ul class="pagination pagination-sm justify-content-center">
        @for (int i = 1; i <= this.Model.FriendsPagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" onclick="friendsNextPage(@i)">@i</a>
            </li>
        }
    </ul>
</nav>

<script type="text/javascript">

</script>

