﻿
@section Styles{
    <link rel="stylesheet" href="~/css/Error404.css" />
}

<main>
    <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
    <h2>Error: 404 page not found</h2>
    <p>Sorry, the page you're looking for cannot be accessed</p>
    <a id="errorLink" href="/">Go Back</a>
</main>
