﻿
/************************image hover effect*******************/
.item-img-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
}

    .item-img-wrap img {
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        object-fit: cover;
        width: 200px;
        height: 200px;
    }

.item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

    .item-img-overlay span {
        height: 100%;
        display: block;
        margin: 0 auto;
        background: url(http://bootstraplovers.com/templates/assan-2.2/main-template/img/plus.png) no-repeat center center rgba(0, 0, 0, 0.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -moz-transition: opacity 250ms linear;
        -o-transition: opacity 250ms linear;
        -webkit-transition: opacity 250ms linear;
        transition: opacity 250ms linear;
    }

.item-img-wrap:hover .item-img-overlay span {
    opacity: 1;
}

.item-img-wrap:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
