﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Montserrat', sans-serif !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border: none;
    padding: 0.5rem 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    padding: 0.5rem 1rem;
}

.navbar {
    background-color: #2c3e50 !important;
    color: #fff !important;
    padding: 0;
}

.navbar-light .navbar-brand {
    color: #fff;
    margin-right: 1rem;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #2c3e50;
    border-color: #1861ac;
}

.navbar-expand-sm .navbar-nav.flex-grow-1 .nav-link {
    padding: 20px 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 0.9rem;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #2c3e50 !important;
}

.container {
    max-width: 1600px;
}

#pills-tab .nav-link {
    margin: 0.5rem 1rem;
}

.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #2c3e50;
    border: none;
}

.btn {
    border: none !important;
    color: #fff !important;
    background-color: #2c3e50;
    cursor: pointer;
}

    .btn:hover {
        background-color: rgba(44, 62, 80, 0.7);
    }

.btn-primary {
    border: none !important;
    padding: 0.5rem 1rem;
}

    .btn-primary:hover {
        background-color: rgba(44, 62, 80, 0.7);
        border: none;
    }

#notifCount {
    background: red;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.page-item.active .page-link {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

#pills-tabContent nav li a:hover {
    color: #fff;
}

.btn-outline-primary {
    background-color: #2c3e50 !important;
}

    .btn-outline-primary:hover {
        background-color: rgba(44, 62, 80, 0.7) !important;
    }


#left-navbar .form-control {
    border: none;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    color:#fff;
}

#left-navbar input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

#right-navbar{
    text-align: right;
}

    #right-navbar ul li:first-child {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

.guest-disabled:hover {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    cursor: not-allowed;
}

#guest-container h2, #guest-container h5 {
    margin: 0 auto;
    vertical-align: text-bottom;
}

#guest-container h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #2c3e50 !important
}

.register-button {
    width: 48%;
    font-size: 1rem;
    display: inline-block;
    float:right;
    margin-right: 0.5rem;
}

.login-button {
    width: 18%;
    font-size: 1rem;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #1c1c1c;
    margin-left: 0.5rem;
        border-radius: .3rem;
}

.register h3.card-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}