﻿@model SocialNetwork.Web.Models.Users.UserViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/User.css" />
    <link rel="stylesheet" href="~/css/Post.css" />
    <link rel="stylesheet" href="~/css/SingleFriend.css" />
    <link rel="stylesheet" href="~/css/FriendRequest.css" />
    <link rel="stylesheet" href="~/css/Photo.css" />

    <style>
        .img-fluid-profile {
            width: 120px;
            height: 7rem;
        }
    </style>

}

@{
    Guid id = new Guid();

    if (Guid.TryParse(this.UserManager.GetUserId(this.User), out Guid uId))
    {
        id = uId;
    }

    string photo;

    if (Model.PhotoName == null)
    {
        photo = "profilePicture.png";
    }
    else
    {
        photo = $"{Model.Id}/{Model.PhotoName}";
    }

}

<div id="actionMessage" class="alert alert-success" style="display:none"></div>

<div class="container">
    <h4 class="font-weight-bold py-3 mb-4">Profile</h4>
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="card mb-3" id="profile-container">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Details</h5>
                </div>
                <div class="card-body text-center">
                    @if (Model.IsPrivate)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <img src="@Url.Content($"~/images/{photo}")" alt="profilePicture" class="img-fluid-profile rounded-circle mb-2" width="128" height="128">
                            }
                            else if (Model.AreFriends)
                            {
                                <img src="@Url.Content($"~/images/{photo}")" alt="profilePicture" class="img-fluid-profile
                                     rounded-circle mb-2" width="128" height="128">
                            }
                            else
                            {
                                <img src="@Url.Content($"~/images/profilePicture.png")" alt="profilePicture" class="img-fluid-profile rounded-circle mb-2" width="128" height="128">
                            }
                        }
                        else
                        {
                            <img src="@Url.Content($"~/images/profilePicture.png")" alt="profilePicture" class="img-fluid-profile rounded-circle mb-2" width="128" height="128">
                        }
                    }
                    else
                    {
                        <img src="@Url.Content($"~/images/{photo}")" alt="profilePicture" class="img-fluid-profile rounded-circle mb-2" width="128" height="128">
                    }
                    <h4 class="card-title mb-0">@Model.FullName</h4>
                    <div class="text-muted mb-2">@Model.JobTitle</div>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id != id)
                            {
                                @if (!Model.AreFriends)
                                {
                                    if (!Model.IsRequestSent)
                                    {
                                        <a class="btn btn-primary btn-sm" id="addFriend" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
                                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="8.5" cy="7" r="4"></circle>
                                                    <line x1="20" y1="8" x2="20" y2="14"></line>
                                                    <line x1="23" y1="11" x2="17" y2="11"></line>
                                                </svg>
                                            </svg> Add Friend
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-sm" id="cancelRequest" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x">
                                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="8.5" cy="7" r="4"></circle>
                                                    <line x1="18" y1="8" x2="23" y2="13"></line>
                                                    <line x1="23" y1="8" x2="18" y2="13"></line>
                                                </svg>
                                            </svg> Cancel Request
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-primary btn-sm" id="removeFriend" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg>
                                        </svg> Remove Friend
                                    </a>
                                }
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <a asp-action="Edit" class="btn btn-primary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                        </svg>
                                    </svg> Settings
                                </a>
                            }
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            if (id != Model.Id)
                            {
                                var user = await this.UserManager.FindByIdAsync(Model.Id.ToString());
                                if (!await this.UserManager.IsLockedOutAsync(user))
                                {
                                    <a class="btn btn-primary" id="banUser" href="#">Ban User</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" id="unbanUser" href="#">Unban User</a>
                                }
                            }
                        }
                        <div class="modal fade" id="modalUserBan_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">

                                <div class="modal-content text-center">

                                    <div class="modal-header d-flex justify-content-center" style="background-color:red;color:white">
                                        <p class="heading">Are you sure?</p>
                                    </div>
                                    <div class="modal-footer flex-center">
                                        <a class="btn btn-danger" onclick="banUser('@Model.Id')">Yes</a>
                                        <a class="btn btn-secondary" data-dismiss="modal">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">About</h5>
                    @if (Model.IsPrivate)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <p>@Model.Bio</p>
                            }
                            else if (Model.AreFriends)
                            {
                                <p>@Model.Bio</p>
                            }
                        }
                    }
                    else
                    {
                        <p>@Model.Bio</p>
                    }
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                            </svg> Friends <a href="#">@Model.FriendsCount</a>
                        </li>
                        @if (Model.IsPrivate)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                if (Model.Id == id)
                                {
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin feather-sm mr-1">
                                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                            <circle cx="12" cy="10" r="3"></circle>
                                        </svg>From <a href="#">@Model.Country</a>
                                    </li>
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                            </svg>
                                        </svg>
                                        Age <a href="#">@Model.Age</a>
                                    </li>
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg>
                                        </svg>
                                        Email <a href="#">@Model.Email</a>
                                    </li>
                                }
                                else if (Model.AreFriends)
                                {
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin feather-sm mr-1">
                                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                            <circle cx="12" cy="10" r="3"></circle>
                                        </svg>From <a href="#">@Model.Country</a>
                                    </li>
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                            </svg>
                                        </svg>
                                        Age <a href="#">@Model.Age</a>
                                    </li>
                                    <li class="mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg>
                                        </svg>
                                        Email <a href="#">@Model.Email</a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <li class="mb-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin feather-sm mr-1">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>From <a href="#">@Model.Country</a>
                            </li>
                            <li class="mb-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                        <line x1="16" y1="2" x2="16" y2="6"></line>
                                        <line x1="8" y1="2" x2="8" y2="6"></line>
                                        <line x1="3" y1="10" x2="21" y2="10"></line>
                                    </svg>
                                </svg>
                                Age <a href="#">@Model.Age</a>
                            </li>
                            <li class="mb-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                        <polyline points="22,6 12,13 2,6"></polyline>
                                    </svg>
                                </svg>
                                Email <a href="#">@Model.Email</a>
                            </li>
                        }
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title mb-3">Latest Photos</h5>
                    <div class="row" id="latestPhotos">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card right-profile-card">
                <div class="card-header alert-primary">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-newsFeed-tab" data-toggle="pill" href="#pills-newsFeed" role="tab" aria-selected="true">News Feed</a>
                                </li>
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-posts-public-tab" data-toggle="pill" href="#pills-posts-public" role="tab" aria-selected="false">Public Posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-selected="false">My Posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-photos-tab" data-toggle="pill" href="#pills-photos" role="tab" aria-selected="false">My Photos</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-selected="false">Posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-photos-tab" data-toggle="pill" href="#pills-photos" role="tab" aria-selected="false">Photos</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-selected="false">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-photos-tab" data-toggle="pill" href="#pills-photos" role="tab" aria-selected="false">Photos</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" id="pills-friends-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-selected="false">Friends</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var result = Guid.TryParse(this.UserManager.GetUserId(this.User), out Guid userId);

                            if (Model.Id == userId)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-friendRequests-tab" data-toggle="pill" href="#pills-friendRequests" role="tab" aria-selected="false">Friend Requests</a>
                                    <span id="notifCount"></span>
                                </li>
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Id == id)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-createPost-tab" data-toggle="pill" href="#pills-createPost" role="tab" aria-selected="false">Add Post</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="card-body h-100">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-newsFeed" role="tabpanel" aria-labelledby="pills-newsFeed-tab">
                            <div class="container">
                                <div class="row" id="newsFeed">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-posts-public" role="tabpanel">
                            <div class="container posts-content align-self-auto">
                                <div class="row" id="postsPublic">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-photos" role="tabpanel">
                            <div class="container posts-content align-self-auto">
                                <div class="row" id="photos">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-home" role="tabpanel">
                            <div class="container posts-content align-self-auto">
                                <div class="row" id="posts">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-friends" role="tabpanel">
                            <div class="container">
                                <div class="row" id="friends">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-friendRequests" role="tabpanel">
                            <div class="container">
                                <div class="row" id="friendRequests">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-createPost" role="tabpanel">
                            <div class="container posts-content align-self-auto">
                                <div class="row" id="createPost">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/site.js"></script>

    <script type="text/javascript">

        var userId = "@Model.Id";

        $(document).ready(function() {
            $('#pills-newsFeed-tab').trigger("click")
        });

        $('#pills-newsFeed-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "/posts/newsFeed/",
                data: {},
                success: function(data) {
                    $('#newsFeed').html(data);
                }
            });
        });

        $('#pills-posts-public-tab').click(function () {
            $.ajax({
                type: "GET",
                url: "/posts/GetPublicPostsExceptFriendsOne/",
                data: {},
                success: function (data) {
                    $('#postsPublic').html(data);
                }
            });
        });

        $('#pills-createPost-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "/posts/create/",
                data: {},
                success: function(data) {
                    $('#createPost').html(data);
                }
            });
        });

        $('#pills-home-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "/Users/GetUserPosts/" + userId,
                data: {},
                success: function(data) {
                    $('#posts').html(data);
                }
            });
        });

        $('#pills-photos-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "/Users/GetUserPhotos/" + userId,
                data: {},
                success: function(data) {
                    $('#photos').html(data);
                }
            });
        });

        $('#pills-friends-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "/Users/GetUserFriends/" + userId,
                data: {},
                success: function(data) {
                    $('#friends').html(data);
                }
            });
        });

        $('#pills-friendRequests-tab').click(function() {
            $.ajax({
                type: "GET",
                url: "friendrequests/GetUserFriendRequests/" + userId,
                data: {},
                success: function(data) {
                    $('#friendRequests').html(data);
                }
            });
        });

        $(document).ready(function latestPhotos() {
            $.ajax({
                type: "GET",
                url: "/Users/GetUserLatestPhotos/" + userId,
                data: {},
                success: function(data) {
                    $('#latestPhotos').html(data);
                }
            })
        });

        $(document).ready(function friendRequestsCount() {
            $.ajax({
                type: "GET",
                url: "friendrequests/GetUserFriendRequestsCount",
                data: {},
                success: function(data) {
                    if (data == 0) {
                        $('#notifCount').hide();
                    } else {
                        $('#notifCount').show().html(data);
                    }
                }
            })
        });

        $('#banUser').click(function() {
            $.ajax({
                type: "POST",
                url: "/users/ban?userId=" + userId,
                data: {},
                success: function(data) {
                    alert(data);
                    location.reload();
                }
            });
        });

        $('#unbanUser').click(function () {
            $.ajax({
                type: "POST",
                url: "/users/unban?userId=" + userId,
                data: {},
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        });

        $('#addFriend').click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/friendrequests/SendFriendRequest?receiverId=")' + userId,
                data: {},
                success: function(data) {
                    alert(data);
                    location.reload();
                }
            });
        });

        $('#cancelRequest').click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/friendrequests/CancelSentRequest?receiverId=")' + userId,
                data: {},
                success: function(data) {
                    alert(data);
                    location.reload();
                }

            });
        });

        $('#removeFriend').click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/users/RemoveFriend?id=")' + userId,
                data: {},
                success: function(data) {
                    alert(data);
                    location.reload();
                }
            });
        });

        function requestAction(senderId, requestStatus) {
            var params = {
                senderId: senderId,
                requestAction: requestStatus
            };
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/friendrequests/FriendRequestAction")',
                data: params,
                success: function(data) {
                    alert(data);
                    location.reload();
                }
            });
        }

        function requestsNextPage(count) {
            var json = { page: count };
            $.ajax({
                type: "GET",
                url: "/friendrequests/GetUserFriendRequests/" + userId,
                data: json,
                success: function(data) {
                    $('#friendRequests').html(data);
                }
            })
        }

        function friendsNextPage(count) {
            var json = { page: count };
            $.ajax({
                type: "GET",
                url: "/Users/GetUserFriends/" + userId,
                data: json,
                success: function(data) {
                    $('#friends').html(data);
                }
            })
        }

    </script>
}
