﻿@using SocialNetwork.Web.Models.Users
@using SocialNetwork.Data.Models.Enums

@model UserPostsViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn-secondary:hover {
        background-color: olive;
    }

    .btn-success:hover {
        background-color: forestgreen;
    }

    .btn-danger:hover {
        background-color: red;
    }

    .btn-warning:hover {
        background-color: orange;
    }

    .btn-outline-primary {
        background-color: blue;
    }
</style>
@foreach (var post in Model.Posts)
{
    <div class="container posts-content align-self-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="media mb-3">
                            <img src="@Url.Content("~/images/" + $"{post.UserId}/" + post.User.PhotoName)"
                                 class="d-block ui-w-40 rounded-circle"
                                 alt="" width="40" height="40">
                            <div class="media-body ml-3">
                                @post.Username
                                <div class="text-muted small">@post.CreatedOn</div>
                            </div>

                            @if (User.Identity.Name == post.User.Email || User.IsInRole("Admin"))
                            {
                                @if (post.AccessStatus == AccessStatus.Public)
                                {
                                    <button type="button" class="btn btn-secondary" style="margin:5px" data-toggle="modal" data-target="#modalStatus_@post.Id">
                                        Make private
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-secondary" style="margin:5px" data-toggle="modal" data-target="#modalStatus_@post.Id">
                                        Make public
                                    </button>
                                }
                                <div class="modal fade" id="modalStatus_@post.Id" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">

                                        <div class="modal-content text-center">
                                            <div class="modal-header d-flex justify-content-center" style="background-color: #ff8008">
                                                <p class="heading">Change status?</p>
                                            </div>

                                            <div class="modal-footer flex-center">
                                                <button onclick="updateStatus(@post.Id)" class="btn btn-success">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-warning" data-toggle="modal" style="margin:5px" data-target="#modalPostEdit_@post.Id">Edit</button>
                                <div class="modal fade right" id="modalPostEdit_@post.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">

                                        <div class="modal-content">

                                            <div class="modal-header d-flex justify-content-center" style="background-color:royalblue">
                                                <p class="heading" style="color: white">Update Post</p>
                                            </div>

                                            <div class="modal-body">
                                                <textarea id="postContent_@post.Id" rows="5" cols="5" class="form-control mb-2" asp-for="@post.Content"></textarea>
                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <button class="btn btn-success" onclick="updatePost(@post.Id)">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger" style="margin:5px" data-toggle="modal" data-target="#modalPostDelete_@post.Id">
                                    Delete
                                </button>
                                <div class="modal fade" id="modalPostDelete_@post.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">

                                        <div class="modal-content text-center">

                                            <div class="modal-header d-flex justify-content-center" style="background-color:red;color:white">
                                                <p class="heading">Are you sure?</p>
                                            </div>

                                            <div class="modal-body">
                                                <i class="fa fa-times-circle" style="font-size:48px;color:red"></i>
                                            </div>

                                            <div class="modal-footer flex-center">
                                                <button class="btn btn-danger" onclick="deletePost(@post.Id)">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <p>
                            @post.Content
                        </p>
                        @if (post.PhotoName != null)
                        {
                            <img class="img-fluid" style="width:100%" src="@Url.Content("~/images/" + post.PhotoName)" asp-append-version="true" />
                        }
                        @if (post.VideoUrl != null)
                        {
                            <iframe src="@post.VideoUrl" frameborder="0"
                                    style="margin:0; width:100%; height:500px; border:none; overflow:hidden;"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media;" allowfullscreen>
                            </iframe>
                        }
                    </div>
                    <div class="card-footer">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <i onclick="upVote(@post.Id)" class="fa fa-thumbs-up" style="font-size:24px;color:blue;cursor: pointer"></i>
                        }
                        <a class="d-inline-block text-muted" style="cursor:default">
                            <strong id="likeCount_@post.Id">@post.Count</strong> <small>Likes</small>
                        </a>
                        <a onclick="getComments(@post.Id)" class="d-inline-block text-muted mb-3" style="cursor: pointer">
                            <strong>@post.CommentsCount</strong> <small>Comments</small>
                        </a>
                        <form>
                            <div class="container">
                                <div id="loadingBody_@post.Id"></div>
                                <div id="loadBody_@post.Id"></div>
                                <div id="loadComments_@post.Id"></div>
                            </div>
                        </form>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <textarea id="contentText_@post.Id" rows="5" cols="5" class="form-control mb-2" placeholder="Comment here..."></textarea>
                            <a class="btn btn-outline-primary" onclick="addComment(@post.Id)">Add Coment</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
    $(function () {

        var loadingBody = $("#loadingBody_" +@post.Id);
        var dataBody = $("#loadBody_" +@post.Id);
        var commentId = @post.Id;

        $(dataBody).load("https://localhost:5001/comments/index/" + commentId, "",
            function (responseText, textStatus, XMLHttpReques) {

                showHideDiv(false, loadingBody);
            });

        function showHideDiv(value, idOrClass) {
            if (value == true) {
                $(idOrClass).show();
            } else {
                $(idOrClass).show();
            }
        };
    });
    </script>
}

<script type="text/javascript">

    var postsPages = @Html.Raw(Model.PostsPagesCount);
    var postsPageIndex = @Model.CurrentPage;

    var _postsIncallback = false;

    $(window).scroll(function () {
        if (postsPageIndex == 1) {
            postsPageIndex++;
            return;
        }
        if (postsPages >= postsPageIndex && !_postsIncallback) {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                GetData();
            }
        }
    });

</script>


